footer {
  background-color:black;
 
  padding: 0.75rem;
  
  p {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
  }
  div {
    background-image: url(https://media.giphy.com/media/dCCW4QKcukwmaS9r30/giphy.gif);
  }
}
