header {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-image: url(https://media.giphy.com/media/RNB0F1EKa63MA/giphy.gif);
  background-size: 800px;
  & h1 {
    background-color: rgba(223, 101, 45, 0.507);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
     
  }
  nav {
    width: 200px;
    ul {
      width: 100%;
      display: flex;     
      justify-content: space-between;
      li{  
        list-style: none;                         
        a{
          color: white;
          font-weight: bolder;
          font-size: 20px;
          text-decoration: none;
          padding: 5px;
        }
      }
    }
  }

}


