header {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-image: url(https://media.giphy.com/media/RNB0F1EKa63MA/giphy.gif);
  background-size: 800px;
  & h1 {
    background-color:rgb(190, 70, 70);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}


