.page {
  flex: 1 auto;
  padding: 0 1.25rem;
  background-image: url(https://media.giphy.com/media/8L0Pky6C83SzkzU55a/giphy.gif);

  &.error {
    animation: flash 1s infinite alternate linear;
  }
}

@keyframes flash {
  to {
    background-color: red;
    color: white;
    font-size: 50px;
  }
}
